swagger: '2.0'
info:
  version: 1.0.0
  title: Swagger Pokémon
  description: Pokémon Restful API - 第7世代対応
host: localhost
basePath: /api/v1
tags:
  - name: Master
    description: マスター用
  - name: Battle
    description: 対戦用
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /pokemons:
    get:
      tags:
        - Master
      summary: ポケモン図鑑一覧取得
      operationId: ''
      parameters: 
        - name: generation
          in: query
          description: 世代
          required: false
          type: integer
          format: int64
        - name: megaFlg
          in: query
          description: メガシンカフラグ
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: pokemons response
          schema:
            $ref: '#/definitions/Pokemons'
        '503':
          description: Service Unavailable
  '/pokemons/{zukanNo}/{subNo}':
    get:
      tags:
        - Master
      summary: ポケモン図鑑取得
      operationId: ''
      parameters:
        - name: zukanNo
          in: path
          description: 図鑑No
          required: true
          type: integer
          format: int64
        - name: subNo
          in: path
          description: サブNo
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: pokemon response
          schema:
            $ref: '#/definitions/Pokemon'
        '503':
          description: Service Unavailable
  /qualities:
    get:
      tags:
        - Master
      summary: 特性一覧取得
      operationId: ''
      parameters: []
      responses:
        '200':
          description: qualities response
          schema:
            $ref: '#/definitions/Qualities'
        '503':
          description: Service Unavailable
  '/qualities/{qualityId}':
    get:
      tags:
        - Master
      summary: 特性取得
      operationId: ''
      parameters:
        - name: qualityId
          in: path
          description: 特性ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: quality response
          schema:
            $ref: '#/definitions/Quality'
        '503':
          description: Service Unavailable
  '/qualities/{qualityId}/pokemons':
    get:
      tags:
        - Master
      summary: 特性に紐づくポケモン一覧取得
      operationId: ''
      parameters:
        - name: qualityId
          in: path
          description: 特性ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: quality response
          schema:
            $ref: '#/definitions/Pokemons'
        '503':
          description: Service Unavailable
  /skills:
    get:
      tags:
        - Master
      summary: 技一覧取得
      operationId: ''
      parameters: 
        - name: typeId
          in: query
          description: 属性ID
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: skills response
          schema:
            $ref: '#/definitions/Skills'
        '503':
          description: Service Unavailable
  '/skills/{skillId}':
    get:
      tags:
        - Master
      summary: 技取得
      operationId: ''
      parameters:
        - name: skillId
          in: path
          description: 技ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: skill response
          schema:
            $ref: '#/definitions/Skill'
        '503':
          description: Service Unavailable
  '/skills/{skillId}/pokemons':
    get:
      tags:
        - Master
      summary: 技に紐づくポケモン一覧取得
      operationId: ''
      parameters:
        - name: skillId
          in: path
          description: 技ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: skill response
          schema:
            $ref: '#/definitions/Pokemons'
        '503':
          description: Service Unavailable
  '/pokemons/{zukanNo}/{subNo}/skills':
    get:
      tags:
        - Master
      summary: ポケモン別の覚える技一覧取得
      operationId: ''
      parameters:
        - name: zukanNo
          in: path
          description: 図鑑No
          required: true
          type: integer
          format: int64
        - name: subNo
          in: path
          description: サブNo
          required: true
          type: integer
          format: int64
        - name: typeId
          in: query
          description: 属性ID
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: skills response
          schema:
            $ref: '#/definitions/Skills'
        '503':
          description: Service Unavailable
  '/pokemons/{zukanNo}/{subNo}/soldiers':
    get:
      tags:
        - Battle
      summary: 対戦用育成済みポケモン一覧取得
      parameters:
        - name: zukanNo
          in: path
          description: 図鑑No
          required: true
          type: integer
          format: int64
        - name: subNo
          in: path
          description: サブNo
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: soldiers response
          schema:
            type: array
            items:
              type: array
              items:
                $ref: '#/definitions/Soldiers'
        '503':
          description: Service Unavailable
    post:
      tags:
        - Battle
      summary: 対戦用育成済みポケモン登録
      parameters:
        - name: zukanNo
          in: path
          description: 図鑑No
          required: true
          type: integer
          format: int64
        - name: subNo
          in: path
          description: サブNo
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SoldierInput'
      responses:
        '200':
          description: Success
        '400':
          description: Validation Error
          schema:
            type: object
        '503':
          description: Service Unavailable
  '/pokemons/{zukanNo}/{subNo}/soldiers/{soldierId}':
    get:
      tags:
        - Battle
      summary: 対戦用育成済みポケモン取得
      parameters:
        - name: zukanNo
          in: path
          description: 図鑑No
          required: true
          type: integer
          format: int64
        - name: subNo
          in: path
          description: サブNo
          required: true
          type: integer
          format: int64
        - name: soldierId
          in: path
          description: 育成済みID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: soldier response
          schema:
            type: array
            items:
              $ref: '#/definitions/Soldier'
        '503':
          description: Service Unavailable
    put:
      tags:
        - Battle
      summary: 対戦用育成済みポケモン更新
      parameters:
        - name: zukanNo
          in: path
          description: 図鑑No
          required: true
          type: integer
          format: int64
        - name: subNo
          in: path
          description: サブNo
          required: true
          type: integer
          format: int64
        - name: soldierId
          in: path
          description: 育成済みID
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SoldierInput'
      responses:
        '200':
          description: Success
        '400':
          description: Validation Error
          schema:
            type: object
        '503':
          description: Service Unavailable
    delete:
      tags:
        - Battle
      summary: 対戦用育成済みポケモン削除
      parameters:
        - name: zukanNo
          in: path
          description: 図鑑No
          required: true
          type: integer
          format: int64
        - name: subNo
          in: path
          description: サブNo
          required: true
          type: integer
          format: int64
        - name: soldierId
          in: path
          description: 育成済みID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
        '503':
          description: Service Unavailable
definitions:
  Pokemons:
    type: array
    items:
      type: object
      properties:
        zukanNo:
          type: integer
          example: 1
        subNo:
          type: integer
          example: 1
        name:
          type: string
          example: フシギダネ
  Pokemon:
    type: object
    properties:
      zukanNo:
        type: integer
        example: 1
      subNo:
        type: integer
        example: 1
      name:
        type: string
        example: フシギダネ
      typeId1:
        type: integer
        example: 1
      typeId2:
        type: integer
        example: 2
      typeName1:
        type: string
        example: くさ
      typeName2:
        type: string
        example: どく
      quality1:
        type: string
        example: しんりょく
      quality2:
        type: string
        example: ''
      dreamQuality:
        type: string
        example: ようりょくそ
      hp:
        type: integer
        example: 45
      at:
        type: integer
        example: 49
      df:
        type: integer
        example: 49
      sa:
        type: integer
        example: 65
      sd:
        type: integer
        example: 65
      sp:
        type: integer
        example: 45
      megaFlg:
        type: integer
        example: 0
  Qualities:
    type: array
    items:
      type: object
      properties:
        qualityId:
          type: integer
          example: 1
        qualityName:
          type: string
          example: あめふらし
  Quality:
    type: object
    properties:
      qualityId:
        type: integer
        example: 1
      qualityName:
        type: string
        example: あめふらし
      effect:
        type: string
        example: てんきをあめ状態にする。
  Skills:
    type: array
    items:
      type: object
      properties:
        skillId:
          type: integer
          example: 1
        skillName:
          type: string
          example: アームハンマー
        typeId:
          type: integer
          example: 1
        typeName:
          type: string
          example: ノーマル
        power:
          type: integer
          example: 100
        effect:
          type: string
          example:  相手は逃げたり、交代できなくなる。自分が場を離れると効果は消える。
  Skill:
    type: object
    properties:
      skillId:
        type: integer
        example: 1
      skillName:
        type: string
        example: アームハンマー
      typeName:
        type: string
        example: ノーマル
      power:
        type: integer
        example: 90
      pp:
        type: integer
        example: 10
      classification:
        type: string
        example: 物理
      accuracy:
        type: integer
        example: 100
      target:
        type: string
        example: 一体選択
      effect:
        type: string
        example: 攻撃後、自分の『すばやさ』ランクが1段階下がる。
      zeffect:
        type: string
        example: '技  ぜんりょくむそうげきれつけん(威力:180)'
      directAttack:
        type: string
        example: 直×
      magicCoat:
        type: string
        example: ×
      omugaeshi:
        type: string
        example: できる
      yokodori:
        type: string
        example: ×
      migawarikantsu:
        type: string
        example: 通常
  Soldiers:
    type: object
    properties:
      zukanNo:
        type: integer
      subNo:
        type: integer
      soldierId:
        type: integer
  Soldier:
    type: object
    properties:
      zukanNo:
        type: integer
        example: 1
      subNo:
        type: integer
        example: 1
      soldierId:
        type: integer
        example: 1
      name:
        type: string
        example: フシギダネ
      personality:
        type: string
        example: いじっぱり
      qualityName:
        type: string
        example: しんりょく
      skillName1:
        type: string
        example: たいあたり
      skillName2:
        type: string
        example: なきごえ
      skillName3:
        type: string
        example: やどりぎのたね
      skillName4:
        type: string
        example: つるのむち
      ehp:
        type: integer
        example: 252
      eat:
        type: integer
        example: 252
      edf:
        type: integer
        example: 252
      esa:
        type: integer
        example: 252
      esd:
        type: integer
        example: 252
      esp:
        type: integer
        example: 252
      ahp:
        type: integer
        example: 152
      aat:
        type: integer
        example: 111
      adf:
        type: integer
        example: 111
      asa:
        type: integer
        example: 128
      asd:
        type: integer
        example: 128
      asp:
        type: integer
        example: 106
  SoldierInput:
    type: object
    properties:
      zukanNo:
        type: integer
        example: 1
      subNo:
        type: integer
        example: 1
      personality:
        type: string
        example: いじっぱり
      qualityId:
        type: integer
        example: 1
      skillId1:
        type: integer
        example: 1
      skillId2:
        type: integer
        example: 1
      skillId3:
        type: integer
        example: 1
      skillId4:
        type: integer
        example: 1
      ehp:
        type: integer
        example: 252
      eat:
        type: integer
        example: 252
      edf:
        type: integer
        example: 252
      esa:
        type: integer
        example: 252
      esd:
        type: integer
        example: 252
      esp:
        type: integer
        example: 252
      ahp:
        type: integer
        example: 152
      aat:
        type: integer
        example: 111
      adf:
        type: integer
        example: 111
      asa:
        type: integer
        example: 128
      asd:
        type: integer
        example: 128
      asp:
        type: integer
        example: 106
